.one {
    color: blue;
}

.two {
    color: red;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease; /* Smooth transition for position change */
}
